* {
    font-family: garamond;
    color: white;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;    
    min-height: 100vh;
    justify-content: flex-start;
    background-image: url("../images/SE.jpg");
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    justify-content: right;
    background-color: steelblue;
    border-bottom: solid 10px grey;
}

nav a {
    text-decoration: none;
    color: rgb(185, 223, 238);
    padding:2rem 1rem;
    text-align: right;
    gap: 1.25rem ;
    font-size: 1.3rem;
}

main {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 100%;
    margin: 5rem .5rem 1rem .5rem;
}

aside {
    max-height: 1000px;
    max-width: 400px;
    margin: 0px 20px;
    text-align: right;
    flex: none;
}

aside h1 {
    font-size: 40px;
}

aside img {
      width: 100%;
  }

.container  img {
    max-height: 200px;
    width: 100%;
  }

footer {
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    bottom: 0;
    background-color: grey;
    border-top: steelblue 5px solid;
    width: 100%;
    height: 40px;
    align-items: center;
}

footer a {
    text-decoration: none;
    text-align: center;
    gap: 1.25rem;
    font-size: 1rem;
}

a:hover {
    color: white;
}

.container {
    max-width: 100%;
    max-height: 800px;
    flex: 3;
    padding: 10px 50px 50px 50px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
  }

.abtCard {
    margin: 25px;
  max-width: 80%;
  height: 750px;
}

.bigCard {
    margin: 25px;
    max-width: 200px;
    border-right: solid white 6px;
}

.primWorkCard {
    border-style: solid;
    border-width: 5px;
    flex: 0 1 1000px;
    margin: 30px;
    text-align: center;
    background-color: grey;
}

.workCard {
    border-style: solid;
    border-width: 5px;
    background-color: grey;
    margin: 30px;
    flex: 0 0 600px;
    text-align: center;
}

section h1 {
    padding: 10px;
    text-align: center;
}

p {
    font-size: 20px;
    margin: 0;
    gap: 1rem;
    text-align: left;
}

.container a {
    font-size: 30px;
    text-decoration: none;
}

@media screen and (max-width: 1235px) {
    .primWorkCard {
        flex: 0 0 600px;
    }
    
}
@media screen and (max-width:988px) {
    main,
    nav,
    nav a {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

}