/* creating varriables for commonly used items in this CSS sheet */
:root {
    --fnt: font-family: garamond;
    --bkgclr:rgb(232, 236, 248);
    --blkbkg:black;
    --bdr: solid 6px;
    --whtfnt: white;
    --green: rgb(1, 255, 1)
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;    
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--bkgclr);
    color: var(--fnt);
    box-sizing: border-box;
    
}

nav {
    display: flex;
    flex-flow: column wrap;
    background-color: var(--blkbkg);
    border-bottom: var(--bdr) var(--green);
}

nav a {
    text-decoration: none;
    color: var(--whtfnt);
    padding:2rem 1rem;
    text-align: center;
    gap: 1.25rem ;
    font-size: 1.3rem;
}

aside {
    width: 95%;
    text-align: center;
}

img {
    width: 98%;
}

.container  img {
    max-height: 200px;
    opacity: .65;
}

.container img:hover {
    opacity: 1;
}

.wide {
    width: 100%;
}

footer {
    position: fixed;
    justify-content: space-evenly;
    bottom: 0;
    margin-top: auto;
    background-color: var(--blkbkg);
    border-top: var(--bdr) var(--green);
    height: 40px;
    align-items: center;
    color: var(--whtfnt);
}

footer a {
    text-decoration: none;
    text-align: center;
    gap: 1.25rem;
    font-size: 1rem;
    color: var(--whtfnt);
}

a {
    font-size: 30px;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

a:hover {
    color: var(--green);
}

.container {
    flex: 4;
    padding: 50px 50px 50px;
}

.abtCard {
    margin: 25px;
  padding: 10px;
  display: flex;
}

.primWorkCard {
    margin: 30px;
}

.primWorkCard h1 {
    text-align: center;
    border-bottom: var(--bdr) var(--green);
}

.primWorkCard a {
    color: var(--whtfnt);
    background-color: var(--blkbkg);
    text-align: center;
    border: var(--bdr) var(--green);
}

.workCard {
    border: var(--bdr) var(--green);
    background-color: var(--blkbkg);
    margin: 30px;
    text-align: center;
    color: var(--whtfnt);
    flex:100%;
}

.workCard a {
    color: var(--whtfnt);
    background-color: var(--blkbkg);
    text-align: center;
    width: 100%;
}

.abtCard h1 {
    text-align: right;
    padding: 10px 10px;
    border-right: var(--bdr) var(--green);
}

.abtCard p {
    margin: 5px 5px 5px 20px;
    text-align: left;
}

.container a {
    text-decoration: none;
    color: var(--whtfnt);
}

.container a:hover {
    color: var(--green);
}

#tooltip {
    position: relative;
    display: inline-block;
}

#tooltip #tooltiptext {
    visibility: hidden;
    width: 350px;
    background-color: var(--whtfnt);
    color: var(--blkbkg);
    border: var(--bdr) black;
    text-align: center;
    padding: 5px;
    position: absolute;
    margin-top: -50px;
    margin-left: -350px;
    z-index: 1;
    font-size: 1.5rem;
}

#tooltip:hover #tooltiptext {
    visibility: visible;
}

.rowWrap {
    display: flex;
    flex-flow: row wrap;
}

.center {
    justify-content: center;
}

.nmlflx {
    flex:100%
}

/* Tablet size - make nav full width and single row of links */
@media screen and (min-width: 768px) {
    nav {
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
}

/* full size - add banner image, position sidebar (aside), and allow tiles to fall into intended place */
@media screen and (min-width: 998px) {
    body {
    background-image: url("../images/SE2.jpg");
    background-size: 100% 400px;
    background-position: top;
    background-repeat: no-repeat;
    }
    nav {
        flex-flow: row wrap;
        justify-content: right;
        margin-bottom: 200px;
    }
    aside {
        max-width: 25%;
        text-align: right;
        margin-top: 100px;
        margin-left: 1rem;
    }
    .container {
        margin-top: 100px;
    }
    .workCard {
        flex: 35%;
    }
}