* {
    font-family: garamond;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;    
    min-height: 100vh;
    justify-content: flex-start;
    background-color: rgb(232, 236, 248);
    background-image: url("../images/SE2.jpg");
    background-size: 100% 400px;
    background-position: top;
    background-repeat: no-repeat;
    
}

nav {
    display: flex;
    justify-content: right;
    background-color: black;
    border-bottom: solid 10px rgb(1, 255, 1);
    margin-bottom: 200px;
}

nav a {
    text-decoration: none;
    color: white;
    padding:2rem 1rem;
    text-align: right;
    gap: 1.25rem ;
    font-size: 1.3rem;
}

main {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 100%;
    margin: 5rem .5rem 1rem .5rem;
}

aside {
    max-height: 700px;
    max-width: 25%;
    margin: 0px 20px;
    text-align: right;
    flex: none;
    padding-right: 10px;
}

aside h1 {
    font-size: 40px;
}

aside img {
      width: 100%;
  }

.container  img {
    max-height: 200px;
    width: 98%;
  }

footer {
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    bottom: 0;
    background-color: black;
    border-top: rgb(1, 255, 1) 5px solid;
    width: 100%;
    height: 40px;
    align-items: center;
    color: white;
}

footer a {
    text-decoration: none;
    text-align: center;
    gap: 1.25rem;
    font-size: 1rem;
    color: white;
}

a:hover {
    color: rgb(1, 255, 1);
}

.container {
    max-width: 100%;
    max-height: 800px;
    flex: 4;
    padding: 10px 50px 50px 50px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
  }

.abtCard {
    margin: 25px;
  flex: 0 2 100%;
  padding: 10px;
  display: flex;
}

.primWorkCard {
    border: solid 5px rgb(1, 255, 1);
    flex: 0 2 80%;
    margin: 30px;
    text-align: center;
    background-color: black;
    color: white;
}

.workCard {
    border: solid 5px rgb(1, 255, 1);
    background-color: black;
    margin: 30px;
    flex: 0 2 50%;
    text-align: center;
    color: white;
}

.abtCard h1 {
    font-size: 30px;
    text-align: right;
    padding: 10px 10px;
    border-right: rgb(1, 255, 1) solid 6px;
}

.abtCard p {
    font-size: 20px;
    margin: 5px 5px 5px 20px;
    gap: 1rem;
    text-align: left;
}

.container a {
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.container a:hover {
    color: rgb(1, 255, 1);
}

@media screen and (max-width: 1235px) {
    .primWorkCard {
        flex: 0 0 600px;
    }
}

@media screen and (max-width:1075px) {
    .container{
        flex-direction: row nowrap;
        justify-content: center;
    }
}

@media screen and (max-width:988px) {
    main,
    nav,
    nav a {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    body {
        background-image: none;
        
    }
    nav {
        margin-bottom: 0px;
    }
    aside {
        max-width: 100%;
        text-align: center;
        max-height: 1600px;
    }
}